.slider-controls {
    display: grid;
    gap: 15px;
}

.sleder-controls__arrows {
    display: flex;
    column-gap: 5px;
    opacity: 0.3;
}

.slider-controls__count {
    padding-left: 16px;
    display: flex;
    column-gap: 6px;
    align-items: flex-end;
    justify-content: flex-end;

    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-align: right;
}

.slider-controls__count-current, .swaper-pagination-current {
    font-size: 32px;
    line-height: 0.75;
    color: #fff;
}


